{% load static %}

    <!-- Document Wrapper
	============================================= -->
  <div id="wrapper" class="wrapper clearfix">
    <header id="navbar-spy" class="header header-topbar header-transparent header-fixed">
      <div id="top-bar" class="top-bar">
      <div class="container">
        <div class="bottom-bar-border">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 top--contact hidden-xs">
              <ul class="list-inline mb-0 ">
                <li>
                  <i class="lnr lnr-clock"></i><span>Mon - Fri  9.00 : 17.00</span>
                </li>
                <li>
                  <i class="lnr lnr-phone-handset"></i> <span>(04) 491 570 110</span>
                </li>
              </ul>
            </div><!-- .col-md-6 end -->
            <div class="col-xs-12 col-sm-6 col-md-6 top--info text-right text-center-xs">
              <span class="top--login"><i class="lnr lnr-exit"></i><a href="#">Login</a> / <a href="#">Register</a></span>
              <span class="top--social">
                <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                <a class="gplus" href="#"><i class="fa fa-google-plus"></i></a>
              <a class="instagram" href="#"><i class="fa fa-instagram"></i></a>
              </span>
            </div><!-- .col-md-6 end -->
          </div>
        </div>
      </div>
    </div>
      <nav id="primary-menu" class="navbar navbar-fixed-top">
        <div class="container">
          <div class="">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="logo" href="index-2.html">
              <img class="logo-light" src="http://demo.zytheme.com/hairy/assets/images/logo/logo-light.png" alt="Hairy Logo">
              <img class="logo-dark" src="http://demo.zytheme.com/hairy/assets/images/logo/logo-light.png" alt="Hairy Logo">
            </a>
          </div>
          
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse pull-right" id="navbar-collapse-1">
            <ul class="nav navbar-nav nav-pos-right nav-bordered-right snavbar-left">
            <!-- Home Menu -->
    <li class="has-dropdown active">
        <a href="{% url 'home'%}"  class="dropdown-toggle menu-item">home</a>
    </li>
    <!-- li end -->

    <li class="has-dropdown ">
        <a href="{% url 'home'%}"  class="dropdown-toggle menu-item">Story</a>
    </li>
    <!-- li end -->

    <!-- Pages Menu -->
    <li class="has-dropdown">
        <a href="{% url 'team'%}"  class="dropdown-toggle link-hover" data-hover="pages">Team</a>
    </li>
    <!-- li end -->
    
    <!-- Gallery Menu-->
    <li class="has-dropdown">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle menu-item">Gallery</a>
    </li>
    <!-- li end -->
   
    <!-- shop Menu -->
    <li class="has-dropdown">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle menu-item">Contact Us</a>
    </li>
    <!-- li end -->
            </ul>
            
            
            <!-- Module Cart -->
            <div class="module module-cart pull-left">
              <div class="module-icon">
                <a class="btn btn--white btn--bordered btn--rounded" href="#">Book Online</a>
              </div>
            </div>
            <!-- .module-cart end -->
          </div>
          <!-- /.navbar-collapse -->
          </div>
        </div>
        <!-- /.container-fluid -->
      </nav>
    
    </header>