
{% extends 'staples/base.html' %}
{% load static %}

{% block content %}

<!-- Slider #1
============================================= -->
<section id="slider" class="carousel slider slider-navs" data-slide="1" data-slide-rs="1" data-autoplay="false" data-nav="true" data-dots="true" data-space="0" data-loop="true" data-speed="800">

    <!-- Slide #1 -->
    <div class="slide--item bg-overlay bg-overlay-dark">
        <div class="bg-section">
            <img src="{% static 'assets/images/the_hills.png'%}" alt="background">
        </div>
        <div class="pos-vertical-center">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 text--center">
                        <div class="slide--headline">The Hills Barbershop</div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 text--center">
                        <div class="slide--bio">Looking good isn't self-importance, it's self-respect. At our barbershop, we're not just cutting hair, we're helping you look and feel your best. Experience the difference a great haircut can make</div>
                        <div class="slide-action">
                            <a class="btn btn--primary btn--rounded" href="{% url 'appointments' %}">Book Appointment </a>
                        </div>
                    </div>

                </div>
                <!-- .row end -->
            </div>
            <!-- .container end -->
        </div>
    </div>
    <!-- .slide-item end -->

    <!-- Slide #2 -->
    <div class="slide--item bg-overlay bg-overlay-dark">
        <div class="bg-section">
            <img src="http://demo.zytheme.com/hairy/assets/images/sliders/slide-bg/2.jpg" alt="background">
        </div>
        <div class="pos-vertical-center">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 text--center">
                        <div class="slide--headline">We make amazing haircuts</div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 text--center">
                        <div class="slide--bio">Preparing your money is a daunting challenge for today's investors and will give you a complete account of the system.</div>
                        <div class="slide-action">
                            <a class="btn btn--secondary btn--white btn--rounded mr-10" href="#">Read More </a>
                            <a class="btn btn--white btn--bordered btn--rounded" href="#">Get Started</a>
                        </div>
                    </div>
                </div>
                <!-- .row end -->
            </div>
            <!-- .container end -->
        </div>
    </div>
    <!-- .slide-item end -->

    <!-- Slide #3 -->
    <div class="slide--item bg-overlay bg-overlay-dark">
        <div class="bg-section">
            <img src="http://demo.zytheme.com/hairy/assets/images/sliders/slide-bg/3.jpg" alt="background">
        </div>
        <div class="pos-vertical-center">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 text--center">
                        <div class="slide--headline">our clients trust us</div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 text--center">
                        <div class="slide--bio">Preparing your money is a daunting challenge for today's investors and will give you a complete account of the system.</div>
                        <div class="slide-action">
                            <a class="btn btn--secondary btn--white btn--rounded mr-10" href="#">Read More </a>
                            <a class="btn btn--white btn--bordered btn--rounded" href="#">Get Started</a>
                        </div>
                    </div>
                </div>
                <!-- .row end -->
            </div>
            <!-- .container end -->
        </div>
    </div>
    <!-- .slide-item end -->

</section>
<!-- #slider end -->



<!-- Services #1
============================================= -->
<section id="service1" class="services services-2 text-center bg-white">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
                <div class="heading text--center mb-80">
                    <h2 class="heading--title">What We Do?</h2>
                    <p class="heading--desc">Duis aute irure dolor in reprehenderit volupte velit esse cillum dolore eu fugiat pariatursint occaecat cupidatat non proident culpa.</p>
                    <div class="divider--line"></div>
                </div>
            </div>
            <!-- .col-md-6 end -->
        </div>

        <!-- .row end -->
        <div class="row">
            
            {% for service in links %}
            <!-- Service #1 -->
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="service-panel">
                    <div class="service--img">
                        <img src="http://demo.zytheme.com/hairy/assets/images/services/4.png" alt="img">
                    </div>
                    <h3>{{service.slug}}</h3>
                    <p>Duis aute irure dolor in reprehenderit in volupte velit esse cillum dolore fugiat nulla.</p>
                </div>
                <!-- .container end -->
            </div>
            <!-- .col-md-4 end -->
            {% endfor %}
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #service1 end -->



<!-- working-time #1
============================================= -->
<section id="working-time" class="working-time text-center bg-overlay bg-overlay-dark bg-parallax">
    <div class="bg-section">
        <img src="{% static 'assets/images/the_hills_img1.png'%}" alt="Background" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
                <div class="heading text--center mb-80">
                    <h2 class="heading--title text-white">Working Hours</h2>
                    <p class="heading--desc text-white">We work all 7 days of the week.</p>
                    <div class="divider--line"></div>
                </div>
            </div>
            <!-- .col-md-6 end -->
        </div>
        <!-- .row end -->


        <div class="row">
            {% for business_hour in business_hours %}
            <!-- Service #1 -->
            <div class="col-xs-6 col-sm-2 col-md-2">
                <div class="time-panel">
                    <h3>{{business_hour.get_day_display}}</h3>
                    <ul class="list-unstyled mb-0">
                        <li>{{business_hour.opening_time|time:"h:i A"}}</li>
                        <li>to</li>
                        <li>{{business_hour.closing_time|time:"h:i A"}}</li>
                    </ul>
                </div>
                <!-- .time-panel end -->
            </div>
            <!-- .col-md-2 end -->
            {% endfor %}

        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #service1 end -->

<!-- pricing #2
============================================= -->
<section id="pricing" class="pricing pricing-2 bg-white pb-80">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
                <div class="heading text--center mb-70">
                    <h2 class="heading--title">Our Pricing</h2>
                    <p class="heading--desc">All prices are subject to change. We accept card payments</p>
                    <div class="divider--line"></div>
                </div>
            </div>
            <!-- .col-md-6 end -->
        </div>
        <!-- .row end -->
       <div class="row">
            {% for service in services %}
            <!-- Pricing #1 -->
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="pricing-panel">
                    <div class="pricing--content">
                        <h4 class="pricing--heading">{{service.service}}</h4>
                        <div class="pricing--divider"></div>
                        <span class="price">${{service.price}}.00</span>
                    </div>
                    <p class="pricing--desc">{{service.description}}</p>
                </div>
                <!-- .panel end -->
            </div>
            {% endfor %}
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #pricing1 end -->




<!-- Clients Carousel
============================================= -->
<section id="clients1" class="clients clients-carousel clients-carousel-1 bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="carousel carousel-dots" data-slide="5" data-slide-rs="2" data-autoplay="true" data-nav="false" data-dots="false" data-space="30" data-loop="true" data-speed="1000">
                    <!-- Client #1 -->
                    <div class="client">
                        <img class="center-block" src="http://demo.zytheme.com/hairy/assets/images/clients/1.png" alt="client">
                    </div>

                    <!-- Client #2 -->
                    <div class="client">
                        <img class="center-block" src="http://demo.zytheme.com/hairy/assets/images/clients/2.png" alt="client">
                    </div>

                    <!-- Client #3 -->
                    <div class="client">
                        <img class="center-block" src="http://demo.zytheme.com/hairy/assets/images/clients/3.png" alt="client">
                    </div>

                    <!-- Client #4 -->
                    <div class="client">
                        <img class="center-block" src="http://demo.zytheme.com/hairy/assets/images/clients/4.png" alt="client">
                    </div>

                    <!-- Client #5 -->
                    <div class="client">
                        <img class="center-block" src="http://demo.zytheme.com/hairy/assets/images/clients/5.png" alt="client">
                    </div>
                </div>
            </div>
            <!-- .col-md-12 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #clients1 end -->


</body>

</html>
{% endblock content %}